.designerfuture {
  height: 1000px;
  background-image: url(../../../public/images/illustration-editor-desktop.svg);
  background-size: 70%;
  background-repeat: no-repeat;
  background-position-x: 39rem;

  margin-top: 5rem;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    h1 {
      font-weight: bold;
      font-size: 2rem;
      text-align: center;
    }
  }
}
