.footer {
  background: #24242c;

  border-top-right-radius: 6rem;
  margin-top: 4rem;

  .container {
    max-width: 1120px;
    margin: 0 auto;

    padding-top: 4rem;
    padding-bottom: 4rem;

    display: flex;
    justify-content: space-between;

    color: #fff;

    div {
      img {
        width: 110px !important;
        height: 40px !important;
      }
    }

    .menuFooter {
      width: 70%;
      display: flex;
      align-items: center;

      .itemFooter {
        width: 50%;

        nav {
          height: 190px;
          display: flex;
          flex-direction: column;
          margin-top: 1.5rem;

          a {
            color: #ccc;
            & + a {
              margin-top: 1.5rem;
            }
          }
        }
      }
    }
  }
}
